/* COULEURS */
$background-color: #1e1674;
$pink: #dd10c0;
$purple: #d1d5f4;
$footer: #1838de;

/* TYPOGRAPHIES */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Tilt+Neon&display=swap");
$title: "Tilt Neon", cursive;
$p: "Manrope", sans-serif;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: $background-color;
    color: $purple;
}

button {
    font-size: 100%;
    text-transform: uppercase;
    font-family: $p;
    border: white solid 1px;
    border-radius: 1.5em;
    padding: 0.4em 1em;
    background: none;
    color: white;
    &:hover {
        border: solid $pink 1px;
        color: $pink;
    }
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/background.svg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    & h1 {
        margin: 1.5em;
        font-size: 4em;
    }
}

.navbar {
    position: absolute;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    color: $purple;
    & a {
        color: $purple;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 1.2em;
    }
    & ul {
        font-family: $p;
        font-weight: 100;
        display: flex;
    }
    & .nav-links ul li {
        margin: 0 25px;
    }
}

.menu-hamburger {
    display: none;
    width: 35px;
}

@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 25px;
        left: 25px;
    }
    .nav-links {
        position: absolute;
        background-color: rgba($color: $footer, $alpha: 0.8);
        backdrop-filter: blur(5px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease-in-out;
    }
    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu-hamburger {
        display: block;
        top: 25px;
        position: absolute;
        right: 25px;
    }
    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
/*     section .color-buttons {
        flex-direction: column;
    } */
    section .color-buttons button {
        margin-bottom:1em;
        width:80%;
    }
}


.mobile-menu {
    margin-left: 0;
}

h1 {
    font-family: $title;
    font-weight: normal;
    font-style: normal;
}

h2 {
    font-weight: 200;
}

h2,
p,
.button,
a {
    font-family: $p;
}

.button {
    border: solid white 1px;
    padding: 0.3em;
    border-radius: 100px;
    width: 30%;
    text-align: center;
    text-transform: uppercase;
}
.button:hover {
    border: solid $pink 1px;
    color: $pink;
}

p {
    font-weight: 100;
    text-transform: lowercase;
}

section .color-buttons {
    margin-top:1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    & button {
        width:13em;
    }
}

section,
footer {
    padding: 1em;
}

.photos {
    width: 25%;
}

footer {
    background-color: $footer;
}
